* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #aeacac;
  font-family: Arial, sans-serif;
}

.external {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.internal {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: none;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  border: 1px solid #007bff;
  color: #007bff;
}
