* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
  font-size: 16px;
}
:root {
  /* colors */
  --primary-color: #3f7863;
  --secondary-color: #f3ad22;
  --off-white: #f8f8f8;
  --white: #fff;
  --black: #000;
  --danger: #ff0000;

  /* rounded */
  --rounded-sm: 0.125rem;
  --rounded-md: 0.375rem;
  --rounded-full: 9999px;

  /* spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;

  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;

  /* font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
}

/* reusables sty;es section */
.btn {
  padding: var(--spacing-3) var(--spacing-5);
  border-radius: var(--rounded-md);
  border: none;
  font-size: 0.875rem;
  transition: all 0.5s ease-in-out;
}
.btn-rounded-full {
  border-radius: var(--rounded-full);
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}
.btn-primary:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--white);
}
.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
.btn-ghost {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-ghost:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
.btn-danger {
  border: 1px solid var(--danger);
  color: var(--danger);
}
.btn-danger:hover {
  background-color: var(--danger);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}


.block {
  display: block;
}
.flex{
  display:block;
}
.none{
  display:none;
}
/* header style section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4) 3rem;
  background: var(--off-white);
  box-shadow: 0 -1px 5px 5px rgba(0, 0, 0, 0.1);
}

/* left side  */
.business-logo div {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
}
.business-logo svg {
  width: 50px;
  height: 50px;
  padding: var(--spacing-3);
  border-radius: var(--rounded-md);
  background-color: var(--primary-color);
}
.business-logo h1 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

#menu {
  display: none;
}

/* right side navigation */
nav ul {
  display: flex;
  align-items: center;
  gap: var(--spacing-6);
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--black);
  font-size: var(--text-lg);
  font-weight: 500;
  font-size: var(--text-lg);
  transition: all 0.3s ease-in-out;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s ease-out;
}

nav ul li a:hover {
  color: var(--primary-color);
}
nav ul li a:hover::after {
  width: 100%;
}

nav ul li div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-2);
  border-radius: var(--rounded-md);
}

nav ul li div:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing-4) 1rem;
  }
  .business-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #menu {
    display: block;
    cursor: pointer;
  }


  nav {
    display: none;
    width: 100%;
    margin-top: 20px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-3);
    width: 100%;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li div {
    width: 100%;
    justify-content: flex-start;
  }
  nav ul li a {
    font-size: var(--text-base);
  }
}
